<ion-header>
  <ion-toolbar>
    <ion-title>Recuperar Contraseña</ion-title>
    <ion-buttons slot="start">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="usuarios/login" color="tertiary"></ion-back-button>
      </ion-buttons>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>



  <ion-slide>
    <div class="contaier-login">
      <ion-grid>
        <ion-row>
          <ion-col>
            <h3 class="titulo">Por favor ingrese el código</h3>
          </ion-col>
        </ion-row>

        <ion-row text-center>
          <ion-col>
           <ion-input #otp1 required maxLength="1" (keyup)="otpController($event,otp2,'')">
           </ion-input>
           <ion-input #otp2 required maxLength="1" (keyup)="otpController($event,otp3,otp1)">
           </ion-input>
           <ion-input #otp3 required maxLength="1" (keyup)="otpController($event,otp4,otp2)">
           </ion-input>
           <ion-input #otp4  required maxLength="1" (keyup)="otpController($event,'',otp3)">
           </ion-input>
          </ion-col>
        </ion-row>

        <ion-grid>
          <ion-row>
            <ion-col>
              <div class="align-self-center">
                <p class="texto">
                  Se envió un código a su dirección de correo electrónico 
                  <ion-text class="gmail">{{ e }}</ion-text>. 
                  Ingrese el código anterior para que pueda crear una nueva contraseña.
                  
                </p>

              </div>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-row>
          <ion-col>
            <ion-button type="submit" fill="solid" expand="full" color="tertiary" shape="round" (click)="olvidasteContra()">
              Entrar
            </ion-button>
          </ion-col>
        </ion-row>


 


      </ion-grid>
    </div>
  </ion-slide>








</ion-content>
