ion-input{
    display:inline-block;
    width:40px;
    height:40px;
    margin:10px;
    border-radius: 50%;
    --background:#e1e1e1;
    --padding-start:7px;
    }

ion-title{
    font-size: 16px;

}

.texto{
    
    font-size: 15px;
    
}

.titulo{
    color:  #6441a5;
    font-weight: bold;

}

.gmail{
    font-weight: bold;
    
}