.card {
    width: 90%;
    padding: 10px;
    background: #ffffff;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
}

.fondo {
    background: black;
}

.row1 {
    height: 50%;
}

.row2 {
    height: 50%;
    background-color: rgba(255, 184, 0, 1);
    
    
}