.grid1 {
    height: 100%;
    padding: 0px;
}

.contaier-login {
    width: 90%;
    padding: 10px;
    background: #ffffff;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
}


.row1 {
    height: 50%;
}

.row2 {
    height: 50%;
    background-color: rgba(255, 184, 0, 1);
    
    
}

.botonL {
    color: rgba(255, 184, 0, 1);
}

ion-icon {
    margin-right: 15px;
    
}
ion-button {
    margin-top: 5px;
    margin-bottom: 15px;
}

ion-slide {
    width: 100%;
    height: 100%;
    position: absolute !important;
    top: 0px !important;
}









.titulo {
    color: black;
    
}


// Centrado de imagen


.img-container {
    display: flex;
    justify-content: center;
    width: 20%;
    height: 20%;
    // align-items: center; this only if you want to vertical align it to the center too
 }


 .contra-olvidada {
    display: flex;
    justify-content: center;
    width: 20%;
    height: 20%;
    color: black;
    // align-items: center; this only if you want to vertical align it to the center too
 }